<p>edition-form-components works!</p>

<!--
<div class="w-full max-w-7xl p-4 mx-auto">
  <form class="fieldset bg-my-light rounded-box border p-6 grid grid-cols-1 md:grid-cols-2 gap-4"
    (submit)="formSubmit($event)">
    
    <fieldset class="fieldset flex flex-col">  
      <div class="relative group cursor-pointer overflow-hidden rounded-md shadow-lg">
        <figure class="aspect-7/10">
          <img 
            [ngSrc]="imagePreview() ?? 'images/without_cover.webp'" 
            [alt]="'Portada de libro'"
            fill
            priority
            class="w-full h-full object-cover"
          />
        </figure>
      </div>

      <label class="label font-semibold">Cargar Portada del Libro</label>

      <label class="file-input-wrapper cursor-pointer flex items-center gap-2 border rounded px-4 py-3 bg-white hover:bg-gray-100">
        <span class="font-bold text-">Elegir Imagen</span>
        <input 
          type="file" class="hidden" accept="image/*" 
          (change)="onChangeImages($event)">
      </label>
      
      <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
    </fieldset>
       
    <div>
      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Título</label>
        <input
          #titleInput 
          type="text" class="input validator w-full" placeholder="Nombre del Libro" required 
          [value]="formData().title"
          (input)="updateTitle($any($event.target).value, titleInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset flex flex-col">
        <label class="label font-semibold">Descripción</label>
        <textarea 
          #descriptionInput
          class="textarea validator mt-2 w-full min-h-56" placeholder="Descripción del libro" required
          [value]="formData().description"
          (input)="updateDescription($any($event.target).value, descriptionInput)"
        ></textarea>
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">ISBN</label>
        <input
          #isbnInput
          type="text" class="input validator w-full" placeholder="Código isbn" required
          [value]="formData().isbn"
          (input)="updateISBN($any($event.target).value, isbnInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Año de publiccion</label>
        <input
          #yearInput 
          type="text" class="input validator w-full max-w-48" placeholder="2077" required
          [value]="formData().publication_year"
          (input)="updateYear($any($event.target).value, yearInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Cantidad de páginas</label>
        <input
          #pagesInput 
          type="text" class="input validator w-full max-w-48" placeholder="1234" required
          [value]="formData().pages"
          (input)="updatePages($any($event.target).value, pagesInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Edición</label>
        <input
          #editionInput 
          type="text" class="input validator w-full max-w-48" placeholder="1ra Edición" required
          [value]="formData().edition"
          (input)="updateEdition($any($event.target).value, editionInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>
      
      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Clasificación Dewey</label>
        <input
          #deweyInput 
          type="text" class="input validator w-full max-w-48" placeholder="863.64" required
          [value]="formData().dewey_number"
          (input)="updateDewey($any($event.target).value, deweyInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Tabla de Cortes</label>
        <input
          #cutterInput 
          type="text" class="input validator w-full max-w-48" placeholder="E58" required
          [value]="formData().cutter"
          (input)="updateCutter($any($event.target).value, cutterInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>      
  
      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Editorial</label>
        <app-editorial-select-components />    
      </fieldset>
    </div>

  </form>

  @if (errorMessage()) {
    <app-message-error-component [message]="errorMessage()"/>
  }
</div>

<pre>{{ bookModel() | json }}</pre>

-->
