
<app-button-edit-component/>
<app-button-delete-component/>
<app-button-clear-component/>
<app-button-create-component/>
<app-button-refresh-component/>
<app-button-search-component/>
<app-button-goback-component/>

<section class="grid p-4 gap-4">
  <div class="divider text-base-content/40 m-0">Libros</div>
  <div class="flex gap-4 flex-wrap">
    <app-author-select-components />
    <app-editorial-select-components />
    <app-subject-select-components />
    <app-genre-select-components />
  </div>

  <div class="divider text-base-content/40 m-0">Copias</div>
  <app-copy-status-select-components />

  <div class="divider text-base-content/40 m-0">Reserva</div>
  <app-reservation-status-select-components />

  <div class="divider text-base-content/40 m-0">Prestamos</div>
  <app-loan-status-select-component />

  <div class="divider text-base-content/40 m-0">Direccion</div>
  <div class="flex gap-4 flex-wrap">
    <app-commune-select-components />
    <app-province-select-components />
    <app-region-select-components />
  </div>  

  <div class="divider text-base-content/40 m-0">Usuario</div>
  <div class="flex gap-4 flex-wrap">
    <app-user-role-select-components />
    <app-user-status-select-components />
  </div>

  <div class="divider text-base-content/40 m-0"></div>
</section>

<app-edition-search-component
  [textTitle]="'La lectura nos abre las puertas del mundo'"
  [textDescription]="'Revisa nuestro catálogo de libros y elige el que quieras leer.'"
  [searchPlaceholder]="'Buscar Título, Descripción, ISBN...'"
  [textBtn]="'Buscar'"
/>
