<section class="bg-my-light border-base-300 rounded-box border p-6 shadow-xl">
  <section class="flex justify-between">
    <div>
      <h3 class="card-title text-xl text-my-purple">Registrar Devolucion</h3>
      <p class="text-sm text-base-content/60">Recepcionar Préstamo para Devolución</p>
    </div>
    
    <app-button-clear-component
      (onClick)="onClear()"
    />
  </section>

  <div class="divider text-base-content/40 max-w-7xl mx-auto">Buscar Préstamo</div>

  <app-search-codbar-component
    [disabled]="isButtonDisabled()"
    [clearTrigger]="clearCounter()"  
    [clearTrigger]="clearCounter()"
    [textTitle]="'Código de Barra de la Copia'"
    [isLoading]="isLoading()"
    (onSubmit)="onEnterBookBarCode($event)"
  />

  <app-loan-detail-component
    [loanDetailModel]="computedLoan()"
  />

  @if (computedLoan()) {
    <button 
      type="button" class="btn bg-my-purple hover:bg-my-purple/80 text-my-light w-full mt-2">
      Registrar Préstamo
    </button>
  }

  @if (errorMessage()) {
    <div class="pt-4">
      <app-message-error-component [message]="errorMessage()" />
    </div>
  }
</section>
