<section class="bg-my-light p-4 flex flex-col gap-4 rounded-box shadow-md h-full">
  @if (reservationDetail()) {
    <div class="flex justify-center">
      <app-barcode-generator
        [value]="reservationDetail()?.id_reservation?.toString()?.concat('-RES') ?? 'Sin Reserva'"
        [format]="'code128'"
      />
    </div>
  }
    
  <div class="flex justify-center items-center h-full">
    <app-reservation-detail-components
      [reservationModel]="reservationDetail()"
    />
  </div>
</section>
