<div class="bg-my-light rounded-md text-my-dark overflow-x-auto shadow-xl">
  <div class="min-w-[700px]">

    <!-- HEADER -->
    <header class="p-6 pb-2 flex justify-between">
      <div>
        <h2 class="font-bold text-my-purple text-lg">
          Gestión de Reservas
        </h2>
        <p class="text-sm text-my-dark/50">
          Lista completa de todas las reservas
        </p>
      </div>
  
      <div class="flex gap-2 items-center">
        <app-reservation-status-select-components
          [selectedId]="selectStatusId()"
          (newSelectedId)="onSelectedIdStatus.emit($event)"
        />

        <app-button-refresh-component 
          (onClick)="onReload.emit()"
        />
      </div>
     </header>

    @if(isLoading()) {
      <div class="p-4 flex justify-center">
        <app-loading-component/>
      </div>
    } @else {

      <!-- TABLA -->
      <table class="table w-full text-center py-4">
        <thead class="uppercase">
          <tr>
            <th>Id</th>
            <th>Libro</th>
            <th>Usuario</th>
            <th>Fecha Reserva</th>
            <th>Expira</th>
            <th>Estado</th>
            <th class="whitespace-nowrap">Acciones</th>
          </tr>
        </thead>

        <tbody class="[&>tr>td]:align-middle">
          @for(item of paginationAndReservationList()?.data; track item.id_reservation) {
            <tr class="hover:bg-my-purple/10 text-my-purple">
              <td>{{ item.id_reservation }}</td>
              <td>{{ item.book_title }}</td>
              <td>{{ item.user_name }} {{ item.user_lastname }}</td>
              <td>{{ item.reservation_date | date:'yyyy-MM-dd' }}</td>
              <td>{{ item.expiration_date | date:'yyyy-MM-dd' }}</td>

              @switch (item.reservation_status_id) {
                @case (1) {
                  <td><p class="bg-my-green text-my-light p-1 rounded-md">{{ item.reservation_status_name }}</p></td>
                }
                @case (2) {
                  <td><p class="bg-my-purple text-my-light p-1 rounded-md">{{ item.reservation_status_name }}</p></td>
                }
                @case (3) {
                  <td><p class="bg-my-pink text-my-light p-1 rounded-md">{{ item.reservation_status_name }}</p></td>
                }
                @default {
                  <td><p class="bg-my-yellow text-my-pink p-1 rounded-md">{{ item.reservation_status_name }}</p></td>
                }
              }

              <td class="whitespace-nowrap p-1">
                @if (item.reservation_status_id === 1) {
                  <app-button-delete-component 
                    (onClick)="onCancelReservation.emit(item.id_reservation)"
                  />
                }
              </td>
            </tr>
          }
        </tbody>    
      </table>
    }
  </div>
  
  <app-pagination-component
    [currentPage]="paginationAndReservationList()?.page ?? 1"
    [totalPages]="totalPages()"
    (prevPage)="onPrevPage.emit()"
    (nextPage)="onNextPage.emit()"
  />
</div>
