<div class="w-full max-w-7xl p-4 mx-auto">
  <form class="fieldset bg-my-light rounded-box border p-6 grid grid-cols-1 md:grid-cols-2 gap-4"
    (submit)="formSubmit($event)">

    <div class="py-4 text-my-purple">
      <p>ID Edición: {{ copyFormVM()?.edition_id }}</p>
      <p>ID Copia: {{ copyFormVM()?.id_copy }}</p>
      <p>Código de Barra: {{ copyFormVM()?.barcode }}</p>
      <p>{{ copyFormVM()?.created_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha creación</p>
      <p>{{ copyFormVM()?.updated_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha modificacion</p>
      <div class="fieldset py-4">
        <label class="label font-semibold mb-1">Estado:</label>
        <div class="flex gap-4">
          <app-copy-status-select-components
            [selectedId]="copyFormVM()?.status_id ?? 1"
            (newSelectedId)="updateStatus($event)"
            [disabled]="toggleStatus()"
          />
          <button
            (click)="activateStatusBtn($event)" 
            class="btn bg-my-green text-my-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="M18.58 2.944a2 2 0 0 0-2.828 0L14.107 4.59l5.303 5.303l1.645-1.644a2 2 0 0 0 0-2.829zm-.584 8.363l-5.303-5.303l-8.835 8.835l-1.076 6.38l6.38-1.077z"/></svg>
          </button>
        </div>
      </div>
    </div>

    <div>
      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Firma Topografica:</label>
        <input
          #topographyInput
          type="text" class="input w-full" placeholder="ABCdef-c0-2026" 
          [value]="formData().signature_topography"
          (input)="updateTopography($any($event.target).value, topographyInput)"
        />
        <app-signature-manual-components />
      </fieldset>
      
      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Numero de Copia:</label>
        <input
          #copynumberInput
          type="text" class="input validator w-full" placeholder="0" required 
          [value]="formData().copy_number"
          (input)="updateCopyNumber($any($event.target).value, copynumberInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>  
    </div>
  
    @if (isLoading()) {
      <app-loading-component/>
    } @else {
    <button class="btn btn-lg bg-my-purple hover:bg-my-purple/80 text-my-light mt-4 self-start px-6 py-2 rounded-lg font-semibold" type="submit">
      {{ formData().id_copy == 0 ? 'Crear Copia' : 'Modificar Copia' }}
    </button>  
    }
  </form>

  @if (errorMessage()) {
    <div class="py-4">
      <app-message-error-component [message]="errorMessage()"/>
    </div>
  }
</div>