<footer class="footer sm:footer-horizontal bg-my-dark text-my-light items-center p-4">
  <aside class="grid-flow-col items-center">
    <img ngSrc="images/hash.svg" alt="email" height="30" width="26"/>
    <p>
      Copyright © {{currentYear}} - 
      <a href="https://www.francisco-dev.cl/" target="_blank" class="hover:text-my-yellow">francisco-dev.cl</a>
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end md:mr-15">
    <a href="https://www.instagram.com/biblioteca_wallmapu_de_mesana" target="_blank">
      <img ngSrc="images/social-instagram.svg" alt="email" height="30" width="30"/>
    </a>
    <a href="https://www.facebook.com/people/Biblioteca-wallmapu-de-mesana/100064333436238/" target="_blank">
      <img ngSrc="images/social-facebook.svg" alt="email" height="30" width="30"/>
    </a>
    <a href="mailto:wallmapumesana@gmail.com">
      <img ngSrc="images/social-email.svg" alt="email" height="30" width="30"/>
    </a>
  </nav>
</footer>