<app-section-header-component 
  [title]="'Descriptores'"
  [actionText]="'Volver Atras'"
  (actionClicked)="navigateBack()"
/>

<section class="p-4 grid grid-cols-1 gap-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <app-subject-form-components 
      [isLoading]="isLoading()"
      [subject]="selectedSubject()"
      (onClear)="onClear()"
      (onFormSubmit)="onFormSubmit($event)" 
    />
  </div>  
  
  @if (successMessage()) {
    <app-message-success-component [message]="successMessage()" />  }
   
  @if (errorMessage()) {
    <app-message-error-component [message]="errorMessage()" />
  }

  <app-subject-list-components 
    [isLoading]="isLoading()"
    [paginationSubjectList]="computedPaginationSubjectList()"
    (onReload)="onReload()"
    (onNextPage)="onNextPage()"
    (onPrevPage)="onPrevPage()"
    (onEdit)="onSelectedSubject($event)"
    (onDelete)="onDeleteSubject($event)"
    (onSearch)="onSearchFilter($event)"
  />
</section>

<app-modal-action-component 
  [isOpen]="isModalOpen()"
  [isLoading]="isLoading()"
  [textTitle]="'Eliminar Autor'"
  [textContent]="'¿Estas Seguro que deceas eliminar el Descriptor?'"
  [textName]="selectedSubjectToDelete()?.name ?? 'Sin Nombre'"
  (onModalClose)="onCloseModal()"
  (onConfirm)="onConfirmModal()"
/>
