<!-- commune-select-components.html -->
@if (isLoading() || provinceComputedList().length === 0) {
  <app-loading-component/>
} @else {
  <select 
    [disabled]="disabled()"
    [value]="selectedId()"
    (change)="onChange($event)"
    class="select text-my-pink"
  >      
    <option disabled>Seleccióne una Provincia</option>
    @for (item of provinceComputedList(); track item.id_province) {
      <option 
        [value]="item.id_province"
        [selected]="item.id_province === selectedId()">
        
        {{ item.province }}
      </option>
    }
  </select>
}
