@if (isLoading()) {
  <section class="p-4 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

      @for (item of [1,2,3]; track $index) {
        <div class="flex flex-col gap-4">
          <div class="skeleton h-64 w-full bg-my-light/50"></div>
          <div class="skeleton h-4 w-full bg-my-light/50"></div>
          <div class="skeleton h-4 w-full bg-my-light/50"></div>
          <div class="skeleton h-4 w-full bg-my-light/50"></div>
        </div>   
      }

    </div>
  </section>
} @else {

  @if(editionDetailList().length == 0) {
    <app-book-not-found-page/>
  } @else {

    <div class="flex gap-8 flex-wrap px-4 py-8 mx-auto justify-center max-w-7xl">
      @for(item of editionDetailList(); track item.id_edition) {
         <article 
          (click)="navigateToEditionDitail(item)"
          class="group w-72 bg-my-light shadow-sm cursor-pointer shadow-my-light hover:shadow-2xl transition-all duration-300 rounded-2xl"
        >
          <figure class="relative overflow-hidden aspect-7/10 rounded-t-2xl">
            <img
              [ngSrc]="item.cover_image ?? 'images/without_cover.webp'"
              [alt]="item.book.title"
              fill
              class="w-full h-full object-cover transform group-hover:scale-103 transition-transform duration-500 borde"/>
          </figure>
          <div class="text-center p-2">
            <section>
              <h2 class="card-title justify-center text-my-green">{{ item.book.title }}</h2>
              <p class="text-sm text-my-purple">{{ item.book.authors[0]?.name ?? 'Sin Autor' }}</p>
              <p class="text-sm text-my-purple">{{ item.edition }}</p>  
            </section>
            <section>
              <p class="text-sm text-my-dark/50">Género: {{ item.book.genre.name }}</p>
              <p class="text-sm text-my-dark/50">Editorial: {{ item.editorial.name }}</p>              
            </section>
           </div>
        </article>
      }
    </div>

  }
}

