<div 
  class="hero h-96 shadow-xl bg-center"
  [style.background-image]="getBackgroundImage()"
>
  <div class="absolute w-full h-96 bg-my-pink/30 md:bg-my-pink/0 md:bg-linear-to-l md:from-transparent md:to-my-pink/40 md:my-pink/0"></div>

  <div class="hero-content w-full grid grid-cols-1 md:grid-cols-2">   

    <div class="text-left max-w-2xs md:max-w-md sm:pl-20 mb-20 sm:mb-0">
      <h1 class="text-4xl font-bold text-my-light mb-2">{{ title }}</h1>
      <p class="text-my-light text-sm leading-relaxed">
        {{ description }}
      </p>
    </div>

  </div>
</div>