<app-section-header-component
  [title]="title()"
  [actionText]="'Volver a Libro'"
  (actionClicked)="navigateBack()"
/>

<app-edition-form-components 
  [isLoading]="isLoading()"
  [editionFormVM]="editionFormVMComputed()"
  (onDeleteImage)="deleteImage($event)"
  (onFormSubmit)="formSubmit($event)"
/>

<div class="px-4 grid gap-4">
  @if(successMessage()) {
    <app-message-success-component [message]="successMessage()" />
  }

  @if (errorMessage()) {
    <app-message-error-component [message]="errorMessage()"/> 
  }
</div>

@if (isEditMode()) {
  <div class="m-4 flex justify-end">
    <button (click)="onCeateCopy()" class="btn max-w-48 bg-my-pink text-my-light">
      Crear Copia
    </button>
  </div>  
}

<app-copy-list-components 
  [isLoading]="isLoading()"
  [copyList]="computedCopyList()"
  (onEdit)="onEditEdition($event)"
  (onDelete)="onDeleteCopy($event)"
/>

<app-modal-delete-component
  title="Eliminar Copia"
  [isOpen]="openDeleteModal()"
  [loading]="isLoading()"
  [itemName]="selectedCopyToDelete()?.signature_topography + ' - Copia N°: ' + selectedCopyToDelete()?.copy_number"
  (confirm)="confirmDelete()"
  (cancel)="closeDeleteModal()"
/>
