<app-section-header-component
  [title]="title()"
  [actionText]="'Volver a Libro'"
  (actionClicked)="navigateBack()"
/>

<app-edition-form-components 
  [isLoading]="isLoading()"
  [editionFormModel]="editionForm()"
  (onDeleteImage)="deleteImage($event)"
  (onFormSubmit)="formSubmit($event)"
/>

@if (errorMessage()) {
  <div class="px-4">
    <app-message-error-component
      [message]="errorMessage()"
    /> 
  </div>
}

@if (isEditMode()) {
  <div class="m-4 flex justify-end">
    <button (click)="onCeateCopy()" class="btn max-w-48 bg-my-pink text-my-light">
      Crear Copia
    </button>
  </div>  
}

<app-edition-copy-list-components 
  [isLoading]="isLoading()"
  [editionCopyModel]="editionDetailComputed()?.copies ?? []"
  (onEdit)="onEditEdition($event)"
  (onDelete)="onDeleteEdition($event)"
/>

<pre>{{ editionForm() | json }}</pre>
<pre>{{ editionDetailComputed() | json }}</pre>