<button 
  (click)="onClick.emit()"  
  class="btn bg-my-pink hover:bg-my-pink/80 text-my-light fill-my-light">

  @if (isOpen()) {
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="default" d="m21.55 8.17l-9-6c-.34-.22-.77-.22-1.11 0l-8.99 6c-.28.19-.45.5-.45.83v11c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V9c0-.33-.17-.65-.45-.83M12 4.2L19.2 9L12 13.8L4.8 9z"/>
    </svg>
  } @else {
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="default" d="M20 4H4c-1.1 0-2 .9-2 2v.25l10 7.5l10-7.5V6c0-1.1-.9-2-2-2"/>
      <path fill="default" d="M12 16c-.21 0-.42-.07-.6-.2L2 8.75V18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8.75l-9.4 7.05c-.18.13-.39.2-.6.2"/>
    </svg>
  }

  {{ textBtn() }}
</button>
