@if(isLoading() || userRoleComputedList().length === 0) {
  <app-loading-component/>
} @else {
  <select 
    [disabled]="disabled()"
    [value]="selectedId()"
    (change)="onChange($event)"
    class="select text-my-pink"
  >      
    <option disabled>Seleccióne un Rol</option>
    @for (item of userRoleComputedList(); track $index) {
      <option 
        [value]="item.id_user_role"
        [selected]="item.id_user_role === selectedId()">
        
        {{ item.role }}
      </option>
    }
  </select>
}
