@if(!userRoleSignal()) {
  <app-loading-component/>
} @else {
  @if (userRoleSignal()?.isSuccess) {
    <select 
      [disabled]="disabled()"
      [value]="selectedId()"
      class="select text-my-pink"
    >      
      <option disabled>Seleccióne un Rol</option>
      @for (item of userRoleSignal()?.result; track $index) {
        <option [value]="item.id_user_role" [selected]="item.id_user_role === selectedId()">
          {{ item.role }}
        </option>
      }
    </select>
  } @else {
    <app-message-error-component [message]="userRoleSignal()?.message || 'Error en Select Role'"/>
  }
}
