<li class="list-row">
  <div>
    <img 
      class="size-10 rounded-box" 
      [ngSrc]="'images/book.png'"
      alt="usuario"
      width="40"
      height="40"
    />
  </div>
  <div>
    <div>{{ userDetail()?.email }}</div>
    <div class="text-xs uppercase font-semibold opacity-60">
      {{ `(${userDetail()?.user_role?.role})` }} {{ userDetail()?.name }} {{ userDetail()?.lastname }}
    </div>
    <div class="text-my-pink">
      {{ userDetail()?.user_status?.status }}
    </div>
  </div>

  <button     
    (click)="onEdit(userDetail()!)"
    class="btn bg-my-green text-my-light">
    Ver Perfil
  </button>
</li>
