<!-- auth-button-component.html -->
@if (loading()) {
  <!-- Estado cargando -->
  <button class="btn btn-ghost text-my-pink" disabled>
    <span class="loading loading-spinner loading-xs "></span>
    Cargando...
  </button>
} @else if (isAuthenticated()) {
  <!-- Usuario logueado - Avatar con dropdown -->
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
      <div class="ring-primary ring-offset-base-100 w-10 rounded-full ring-2 ring-offset-2 bg-my-light">
        <img 
          [src]="user()?.picture" 
          [alt]="user()?.name" 
          class="rounded-full" 
          onerror="this.src='images/book.png'"/>
      </div>
    </div>
    
    <ul tabindex="0" class="dropdown-content menu text-my-light bg-my-purple/70 backdrop-blur-xl rounded-box z-10 w-52 p-2 shadow mt-3">
      <li class="menu-title text-sm text-my-light bg-my-purple font-bold">Hola, {{ user()?.name }}</li>
      <li><a class="text-sm">{{ user()?.email }}</a></li>
      <li><hr class="my-1"></li>
      <li><a routerLink="/" class="text-sm">⚙️ Inicio</a></li>
      <li><a [routerLink]="navigateTo()" class="text-sm">⚙️ Panel</a></li>
      <li><hr class="my-1"></li>
      <li>
        <button 
          (click)="logout()" 
          class="text-sm font-medium text-my-pink bg-my-light">
          👋 Cerrar Sesión
        </button>
      </li>
    </ul>
  </div>
} @else {
  <!-- No logueado - Botón de login -->
  <button 
    (click)="login()"
    class="btn bg-my-pink text-my-light hover:bg-my-pink/90 t|ransition-all duration-300 hover:scale-105">
    Iniciar Sesión
  </button>
}