<div class="rounded-box shadow-md flex flex-col bg-my-light">
    
  <!-- Título -->
  <div class="p-4 pb-2 text-my-pink text-xl tracking-wide">
    Préstamos Vencidos
  </div>

  <!-- Lista scrolleable -->
  <ul class="flex-1 overflow-y-auto max-h-56">
    
    <li class="list-row flex justify-between p-4">
      <div>
        <div>2026-01-01</div>
        <div>Nombre del Libro</div>
        <div class="text-xs uppercase font-semibold opacity-60">Nombre del Usuario</div>
      </div>
      <div class="aspect-square size-10 rounded-md bg-my-pink text-my-light flex items-center justify-center">
        5d
      </div>
    </li>

    <li class="list-row flex justify-between p-4">
      <div>
        <div>2026-01-01</div>
        <div>Nombre del Libro</div>
        <div class="text-xs uppercase font-semibold opacity-60">Nombre del Usuario</div>
      </div>
      <div class="aspect-square size-10 rounded-md bg-my-pink text-my-light flex items-center justify-center">
        5d
      </div>
    </li>

    <li class="list-row flex justify-between p-4">
      <div>
        <div>2026-01-01</div>
        <div>Nombre del Libro</div>
        <div class="text-xs uppercase font-semibold opacity-60">Nombre del Usuario</div>
      </div>
      <div class="aspect-square size-10 rounded-md bg-my-pink text-my-light flex items-center justify-center">
        5d
      </div>
    </li>

    <li class="list-row flex justify-between p-4">
      <div>
        <div>2026-01-01</div>
        <div>Nombre del Libro</div>
        <div class="text-xs uppercase font-semibold opacity-60">Nombre del Usuario</div>
      </div>
      <div class="aspect-square size-10 rounded-md bg-my-pink text-my-light flex items-center justify-center">
        5d
      </div>
    </li>
    <!-- Repetidos... -->

  </ul>

  <!-- Botón fijo abajo -->
  <div class="p-4">
    <button class="btn bg-my-pink text-my-light w-full" type="submit">
      Ver Todos
    </button>
  </div>

</div>