<section>
  <div class="h-20 w-20 bg-[#4A148C] text-[#F8F9FA] flex justify-center items-center">Nav Bar</div>
  <div class="h-20 w-20 bg-[#F8F9FA] text-[#4A148C] flex justify-center items-center">Page</div>
  <div class="h-20 w-20 bg-[#212529] text-[#F8F9FA] flex justify-center items-center">Text</div>
  <div class="h-20 w-20 bg-[#D81B60] text-[#F8F9FA] flex justify-center items-center">Btn Pri</div>
  <div class="h-20 w-20 bg-[#00897B] text-[#F8F9FA] flex justify-center items-center">Btn Sec</div>
  <div class="h-20 w-20 bg-[#FDD835] text-[#212529] flex justify-center items-center">Alert</div>
  <div class="h-20 w-20 bg-[#1A1A1A] text-[#F8F9FA] flex justify-center items-center">Footer</div>
  <div class="h-20 w-20 bg-[#D81B60] text-[#F8F9FA] flex justify-center items-center">Error</div>
  <div class="h-20 w-20 bg-[#00897B] text-[#F8F9FA] flex justify-center items-center">Success</div>
</section>
