<app-section-header-component
  [title]="actionText()" 
  [actionText]="'Volver a Noticias'"
  (actionClicked)="routeGoBack()"
/>

@if (errorMessage()) {
  <section class="max-w-4xl mx-auto px-4 pt-4">
    <app-message-error-component 
      [message]="errorMessage()"
    />
  </section>  
}

<section class="flex max-w-4xl flex-col gap-4 mx-auto p-4">
  <app-news-form-component 
    [isLoading]="isLoading()"
    [actionText]="actionText()"
    [newsFormModel]="newsFormModel()"
    (onFormSubmit)="onFormSubmit($event)"
    (onChangeImagesPreviewVMList)="onChangeImagesPreviewVMList($event)"
  />
</section>

@if (errorMessage()) {
  <section class="max-w-4xl mx-auto px-4">
    <app-message-error-component 
      [message]="errorMessage()"
    />
  </section>  
}

<section class="flex max-w-4xl mx-auto p-4">
  <app-image-list-component 
    [isLoading]="isLoading()"
    [imagesPreviewVMList]="imagesPreviewVMList()"
    (updateImagesPreviewVMList)="onUpdateImagesPreviewVMList($event)"
    (deleteImagesPreviewVM)="onDeleteImagesPreviewVM($event)"
  />
</section>
