<app-section-header-component [title]="'Reservas'" />

@if (successMessage()) {
  <div class="p-4 pb-0">
    <app-message-success-component [message]="successMessage()" />
  </div>
}

@if (errorMessage()) {
  <div class="p-4 pb-0">
    <app-message-error-component [message]="errorMessage()" />
  </div>
}

<div class="p-4">
  <app-reservation-list-components
    [isLoading]="isLoading()"
    [paginationAndReservationList]="computedPaginationAndReservationList()"
    [selectStatusId]="selectStatusId()"
    (onSelectedIdStatus)="onFilterByIdStatus($event)"
    (onCancelReservation)="onCancelReservation($event)"
    (onReload)="reloadReservation()"
    (onNextPage)="nextPage()"
    (onPrevPage)="prevPage()"
  />
</div>

<app-modal-action-component
  [textTitle]="'Cancelar Reserva'"
  [textContent]="'¿Estás seguro que deseas cancelar la Reserva?'"
  [textName]="'Elemento'"
  [isOpen]="isModalOpen()"
  [isLoading]="isLoading()"
  (onConfirm)="onConfirmCancelReservation()"
  (onModalClose)="closeModal()"
/>
