<app-section-header-component [title]="'Reservas'" />

<section class="p-4 grid grid-cols-1 gap-4">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <app-reservation-barcode-components
      [reservationModel]="selectedReservation()"
    />
    
    <app-loan-policy-component/>
  </div>
</section>


@if (successMessage()) {
  <div class="p-4 pb-0">
    <app-message-success-component [message]="successMessage()" />
  </div>
}

@if (errorMessage()) {
  <div class="p-4 pb-0">
    <app-message-error-component [message]="errorMessage()" />
  </div>
}

<div class="p-4">
  <app-reservation-list-components
    [isLoading]="isLoading()"
    [paginationAndReservationList]="computedPaginationAndReservationList()"
    [selectStatusId]="selectStatusId()"
    (onSelectedReservation)="onSelectedReservation($event)"
    (onSelectedIdStatus)="onFilterByIdStatus($event)"
    (onCancelReservation)="onCancelReservation($event)"
    (onReload)="reloadReservation()"
    (onNextPage)="nextPage()"
    (onPrevPage)="prevPage()"
  />
</div>

<app-modal-action-component
  [textTitle]="'Cancelar Reserva'"
  [textContent]="'¿Estás seguro que deseas cancelar la Reserva?'"
  [textName]="'Elemento'"
  [isOpen]="isModalOpen()"
  [isLoading]="isLoading()"
  (onConfirm)="onConfirmCancelReservation()"
  (onModalClose)="closeModal()"
/>
