@if (!userDetailModel()) {
  <div class="grid gap-4">
    <div class="skeleton h-64 w-full bg-my-light/50"></div>
    <div class="skeleton h-4 max-w-36 bg-my-light/50"></div>
    <div class="skeleton h-32 w-full bg-my-light/50"></div>
    <div class="skeleton h-32 w-full bg-my-light/50"></div>  
  </div>
} @else {

  <div class="w-full">

    <!-- Card principal -->
    <div class="card bg-my-light shadow-xl text-my-dark">
      
      <!-- Cover -->
      <figure class="h-48 relative">
        <img 
          [src]="'images/layout.webp'" 
          alt="cover"
          class="w-full h-full object-cover opacity-40"
        />
      </figure>
  
      <!-- Contenido -->
      <div class="card-body relative">
        
        <!-- Avatar -->
        <div class="absolute -top-16 left-6">
          <div class="avatar">
            <div class="w-32 rounded-full ring ring-primary ring-offset-base-100 ring-offset-4">
              <img 
                [ngSrc]="authUser()?.picture ?? 'image/book.png'" 
                [alt]="userDetailModel()?.name"
                width="128"
                height="128"
              />
            </div>
          </div>
        </div>
  
        <!-- Info principal -->
        <div class="mt-12">
          <section class="py-4 grid grid-cols-1 md:grid-cols-2 gap-4 items-end">
            <div>
              <p class="text-base-content/70">
                {{ userDetailModel()?.user_role_name }}
              </p>
              <h2 class="card-title text-2xl text-my-purple">
                {{ userDetailModel()?.name }} {{ userDetailModel()?.lastname }}
              </h2>
              <p class="text-base-content/70">
                +56 {{ userDetailModel()?.phone }}
              </p>
              <p class="text-base-content/70">
                {{ userDetailModel()?.email }}
              </p>
              <p class="text-base-content/70">
                {{ userDetailModel()?.address }}
              </p>
              <p class="text-my-pink">
                {{ userDetailModel()?.user_status_name }}
              </p>
            </div>
  
            <!-- Acciones -->
            <div class="card-actions justify-end">
              <app-button-edit-component 
                [textBtn]="'Modificar Perfil'"
                (onClick)="onEdit()"
              />
            </div>
          </section>      
                    
          <!-- Separador -->
          <div class="divider text-base-content/40 mt-0">Estadísticas</div>
  
          <app-user-stats-components/>

        </div>
      </div>
    </div>
    
  </div>

}
