@if(loading()) {
  <app-loading-component/>
} @else {
  @if (userStatusResult()?.isSuccess) {
    <select 
      [disabled]="disabled()"
      [value]="selectedId()"
      class="select text-my-pink"
    >
      <option disabled selected>Seleccióne un Rol</option>
      @for (item of userStatusResult()?.result; track $index) {
        <option [value]="item.id_user_status" [selected]="item.id_user_status === selectedId()">
          {{ item.status }}
        </option>
      }
    </select>
  } @else {
    <app-message-error-component [message]="userStatusResult()?.message || 'Error en Select Role'"/>
  }
}
