@if(!userStatusSignal()) {
  <app-loading-component/>
} @else {
  @if (userStatusSignal()?.isSuccess) {
    <select 
      [disabled]="disabled()"
      [value]="selectedId()"
      (change)="onChange($event)"
      class="select text-my-pink"
    >
      <option disabled selected>Seleccióne un Rol</option>
      @for (item of userStatusSignal()?.result; track $index) {
        <option 
          [value]="item.id_user_status" 
          [selected]="item.id_user_status === selectedId()">
          
          {{ item.status }}
        </option>
      }
    </select>
  } @else {
    <app-message-error-component [message]="userStatusSignal()?.message || 'Error en Select Role'"/>
  }
}
