@if(isLoading() || userStatusComputedList().length === 0) {
  <app-loading-component/>
} @else {
  <select 
    [disabled]="disabled()"
    [value]="selectedId()"
    (change)="onChange($event)"
    class="select text-my-pink"
  >
    <option disabled selected>Seleccióne un Rol</option>
    @for (item of userStatusComputedList(); track $index) {
      <option 
        [value]="item.id_user_status" 
        [selected]="item.id_user_status === selectedId()">
        
        {{ item.status }}
      </option>
    }
  </select>
}
