<section class="min-h-full bg-linear-to-b from-my-green/80 via-my-light/70 to-my-light/60">
  <div class="hero p-4 pt-20">
    <div class="hero-content px-6 py-12 flex-col lg:flex-row items-start gap-10 w-full bg-my-light rounded-lg">
      
      @if (isLoadingBook()){
        <app-loading-component/>
      } @else {

        <figure class="relative aspect-7/10 w-full max-w-96 mx-auto">
          <img
            class="w-full h-full object-cover shadow-2xl"
            [ngSrc]="selectedCopy()?.edition?.cover_image ??  'images/without_cover.webp'"
            [alt]="'Portada'"
            fill
            priority
          />
        </figure>
  
        <div class="flex-1">
          <h1 class="text-5xl font-bold text-my-purple mb-2">{{ computedBook()?.title }}</h1>
  
          @for (item of computedBook()?.authors; track item.name) {
            <p class="text-xl text-my-pink mb-4">{{ item.name }}</p>
          }
  
          <p><strong class="text-my-green">Género: </strong> {{ computedBook()?.genre?.name }}</p>
  
          <!--
          <div class="mb-6">
            <div class="flex items-center gap-2">
              <span class="text-2xl">⭐ {{ 5 }}</span>
              <span class="text-sm text-my-dark/60">(basado en reseñas)</span>
            </div>
          </div>
          -->
  
          <p class="text-lg leading-relaxed my-6 text-my-dark/70">
            {{ computedBook()?.summary }}
          </p>
  
          <section class="flex justify-between gap-4">
            <div class="mb-6 space-y-2 text-sm">
              <p><strong class="text-my-green">Edicion:</strong> {{ selectedCopy()?.edition }}</p>
              <p><strong class="text-my-green">ISBN:</strong> {{ selectedCopy()?.edition?.isbn }}</p>
              <p><strong class="text-my-green">Publicado:</strong> {{ selectedCopy()?.edition?.publication_year }}</p>
              <p><strong class="text-my-green">Paginas:</strong> {{ selectedCopy()?.edition?.pages }}</p>
              <p><strong class="text-my-green">Editorial:</strong> {{ selectedCopy()?.edition?.editorial_id }}</p>
              <p><strong class="text-my-green">Copia n°:</strong> {{ selectedCopy()?.copy_number }}</p>
              <p>
                <strong class="text-my-green">Estado:</strong> 
                @if (selectedCopy()?.availability_status === 'disponible') {
                  <span class="bg-my-green text-my-light mx-2 p-1 pr-2 rounded-md">
                    {{ selectedCopy()?.availability_status }}
                  </span>
                } @else {
                  <span class="bg-my-pink text-my-light mx-2 p-1 pr-2 rounded-md">
                    No Disponible
                  </span>
                }
              </p>
            </div>
    
            @if (isAuthenticated() && selectedCopy()?.availability_status === 'disponible') {
              <div class="flex gap-4">
                <section class="text-right">
                  <button (click)="openReservationModal()" class="btn btn-outline bg-my-pink text-my-light p-6">Solicitar Préstamo</button>
                </section>
              </div>
            }
          </section>
        </div>
      }
    </div>
  </div>

  <section class="p-4 max-w-7xl mx-auto">
    @if (successMessage()) {
      <app-message-success-component
        [message]="successMessage()"
      />
    }

    @if (errorMessage()) {
      <app-message-error-component
        [message]="errorMessage()"
      />       
    }
  </section>
  
  <div class="divider p-4 text-base-content/40 max-w-7xl mx-auto">Lista de Copias</div>

  @if (isLoadingCopy()) {
    <div class="p-4 flex justify-center">
      <app-loading-component/>
    </div>
  } @else {
    <section class="max-w-7xl mx-auto">
      <div class="overflow-x-auto bg-my-light rounded-md shadow-2xl m-4">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>Copias</th>
              <th>Estado</th>
              <th>Editorial / Edicion</th>
              <th>ISBN</th>
            </tr>
          </thead>

          <tbody>
            @for (copy of computedCopyList(); track copy.id_copy) {
              <tr 
                (click)="selectNewCopy(copy)"
                class="hover:bg-my-dark/10 cursor-pointer">
                <td>
                  <div class="flex items-center gap-3">
                    <div class="avatar">
                      <div class="aspect-7/10 h-20">
                        <img
                          [ngSrc]="copy?.edition?.cover_image ?? 'images/without_cover.webp'"
                          [alt]="copy?.edition?.edition"
                          fill
                          priority />
                      </div>
                    </div>
                    <div>
                      <div class="font-bold">Copia n°: {{ copy.copy_number }}</div>
                      <div class="text-sm opacity-50">{{ copy.signature_topography }}</div>
                      <div class="text-sm opacity-50">ID: {{ copy.id_copy }}</div>
                    </div>
                  </div>
                </td>

                <td>
                  @if (copy?.availability_status === 'disponible') {
                    <span class="badge bg-my-green text-my-light p-4 h-auto">{{ copy?.availability_status }}</span>
                  } @else {
                    <span class="badge bg-my-pink text-my-light p-4 h-auto">{{ copy?.availability_status }}</span>
                  }
                </td>

                <td>
                  <span>{{ copy?.edition?.editorial_id }}</span>
                  <br />
                  <span>{{ copy?.edition?.edition }}</span>
                </td>

                <td>
                  <span class="badge badge-ghost p-4 h-auto">{{ copy?.edition?.isbn }}</span>
                </td>  
              </tr>
            }
          </tbody>

          <tfoot>
            <tr>
              <th>Copias</th>
              <th>Editorial</th>
              <th>Edicion</th>
              <th>ISBN</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </section>
  }
</section>

<app-modal-action-component 
  [textTitle]="'Crear Reserva'"
  [textContent]="'Realizar Reserva de:'"
  [textName]="computedBook()?.title + ' - ' + selectedCopy()?.edition?.edition  + ' - Copia n° ' + selectedCopy()?.copy_number"
  [isOpen]="isReservationModalOpen()"
  [isLoading]="isLoadingCopy()"
  (onConfirm)="createReservation()"
  (onCancel)="closeReservationModal()"
/>
