<section class="min-h-full bg-linear-to-b from-my-green/80 via-my-light/70 to-my-light/60">
  @if (errorMessage()) {
    <div class="container mx-auto p-4">
      <div class="flex justify-center items-center min-h-dvh">
        <app-message-error-component
          [message]="errorMessage()"
        />
      </div>
    </div>
  } @else {

    <div class="hero p-4 pt-20">
      <div class="hero-content px-6 py-12 flex-col lg:flex-row items-start gap-10 w-full bg-my-light rounded-lg">
        
        @if (isLoading()){
          <app-loading-component/>
        } @else {

          <figure class="relative aspect-7/10 w-full max-w-96 mx-auto">
            <img
              class="w-full h-full object-cover shadow-2xl"
              [ngSrc]="vmBookEditionCopy()?.cover_image ??  'images/without_cover.webp'"
              [alt]="'Portada'"
              fill
              priority
            />
          </figure>
    
          <div class="flex-1">
            <h1 class="text-5xl font-bold text-my-purple mb-2">{{ bookDetailComputed()?.title }}</h1>
    
            @for (item of bookDetailComputed()?.authors; track item.name) {
              <p class="text-xl text-my-pink mb-4">{{ item.name }}</p>
            }
    
            <p><strong class="text-my-green">Género: </strong> {{ bookDetailComputed()?.genre?.name }}</p>
    
            <!--
            <div class="mb-6">
              <div class="flex items-center gap-2">
                <span class="text-2xl">⭐ {{ 5 }}</span>
                <span class="text-sm text-my-dark/60">(basado en reseñas)</span>
              </div>
            </div>
            -->
    
            <p class="text-lg leading-relaxed my-6 text-my-dark/70">
              {{ bookDetailComputed()?.summary }}
            </p>
    
            <section class="flex justify-between gap-4">
              <div class="mb-6 space-y-2 text-sm">
                <p><strong class="text-my-green">Edicion:</strong> {{ vmBookEditionCopy()?.edition }}</p>
                <p><strong class="text-my-green">ISBN:</strong> {{ vmBookEditionCopy()?.isbn }}</p>
                <p><strong class="text-my-green">Publicado:</strong> {{ vmBookEditionCopy()?.publication_year }}</p>
                <p><strong class="text-my-green">Paginas:</strong> {{ vmBookEditionCopy()?.pages }}</p>
                <p><strong class="text-my-green">Editorial:</strong> {{ vmBookEditionCopy()?.editorial?.name }}</p>
                <p><strong class="text-my-green">Copia n°:</strong> {{ vmBookEditionCopy()?.copy?.copy_number }}</p>
                <p>
                  <strong class="text-my-green">Estado:</strong> 
                  @if (vmBookEditionCopy()?.copy?.status?.id_status == 1) {
                    <span class="bg-my-green text-my-light mx-2 p-1 pr-2 rounded-md">
                      {{ vmBookEditionCopy()?.copy?.status?.name }}
                    </span>
                  } @else {
                    <span class="bg-my-pink text-my-light mx-2 p-1 pr-2 rounded-md">
                      No Disponible
                    </span>
                  }
                </p>
              </div>
      
              @if (isAuthenticated() && vmBookEditionCopy()?.copy?.status?.id_status === 1) {
                <div class="flex gap-4">
                  <!--
                  <button class="btn bg-my-green text-my-light">Añadir a Favoritos</button>
                  -->
                  <app-reservation-btn-create-components
                    [idBook]="bookDetailComputed()?.id_book"
                    [bookName]="bookDetailComputed()?.title"                  
                  />
                </div>
              }
            </section>
          </div>

        }

      </div>
    </div>
    
    <div class="divider p-4 text-base-content/40 max-w-7xl mx-auto">Lista de Copias</div>

    @if (isLoading()) {
      <div class="p-4 flex justify-center">
        <app-loading-component/>
      </div>
    } @else {
      <section class="max-w-7xl mx-auto">
        <div class="overflow-x-auto bg-my-light rounded-md shadow-2xl m-4">
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th>Copias</th>
                <th>Estado</th>
                <th>Editorial / Edicion</th>
                <th>ISBN</th>
              </tr>
            </thead>
  
            <tbody>
              @for (edition of bookDetailComputed()?.editions; track edition.id_edition) {
                @for (copy of edition.copies; track copy.id_copy) {
                  <tr 
                    (click)="selectNewCopy(edition, copy)"
                    class="hover:bg-my-dark/10 cursor-pointer">
                    <td>
                      <div class="flex items-center gap-3">
                        <div class="avatar">
                          <div class="aspect-7/10 h-20">
                            <img
                              [ngSrc]="edition.cover_image ?? 'images/without_cover.webp'"
                              [alt]="edition.edition"
                              fill
                              priority />
                          </div>
                        </div>
                        <div>
                          <div class="font-bold">Copia n°: {{ copy.copy_number }}</div>
                          <div class="text-sm opacity-50">{{ copy.signature_topography }}</div>
                          <div class="text-sm opacity-50">ID: {{ copy.id_copy }}</div>
                        </div>
                      </div>
                    </td>
                    
                    <td>
                      @if (copy.status?.id_status == 1) {
                        <span class="badge bg-my-green text-my-light p-4">{{ copy.status?.name }}</span>
                      } @else {
                        <span class="badge bg-my-pink text-my-light p-4">No Disponible</span>
                      }
                    </td>
  
                    <td>
                      <span>{{ edition.editorial.name }}</span>
                      <br />
                      <span>{{ edition.edition }}</span>
                    </td>
  
                    <td>
                      <span class="badge badge-ghost p-4">{{ edition.isbn }}</span>
                    </td>                  
                  </tr>
                }
              }        
            </tbody>
  
            <tfoot>
              <tr>
                <th>Copias</th>
                <th>Editorial</th>
                <th>Edicion</th>
                <th>ISBN</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
    }
  }
</section>
