<div class="bg-my-light rounded-md text-my-dark shadow-xl">
  <!-- HEADER -->
  <header class="p-6 pb-2 flex justify-between">
    <div>
      <h2 class="font-bold text-my-purple text-lg">
        Gestión de Prestamos
      </h2>
      <p class="text-sm text-my-dark/50">
        Lista completa de todos los prestamos
      </p>
    </div>

    <div class="flex gap-2 items-center">
      <app-loan-status-select-component
        [selectedId]="selectStatusId()"
        (newSelectedId)="onSelectedIdStatus.emit($event)"
      />

      <app-button-refresh-component 
        (onClick)="onReload.emit()"
      />
    </div>
  </header>

  <div class="overflow-x-auto">
    @if(isLoading()) {
      <div class="p-4 flex justify-center">
        <app-loading-component/>
      </div>
    } @else {

      <!-- TABLA -->
      <table class="table w-full text-center py-4">
        <thead class="uppercase">
          <tr>
            <th>Id</th>
            <th>Libro</th>
            <th>Usuario</th>
            <th>Fecha Prestamo</th>
            <th>Fecha Deuda</th>
            <th>Fecha Retorno</th>
            <th>Firma</th>
            <th>Estado</th>
          </tr>
        </thead>

        <tbody class="[&>tr>td]:align-middle">
          @for(item of paginationAndLoanList()?.data; track item.id_loan) {
            <tr class="hover:bg-my-purple/10 text-my-purple">
              <td>{{ item.id_loan }}</td>
              <td>{{ item.book_title }}</td>
              <td>{{ item.user_name }}</td>
              <td>{{ item.loan_date | date:'yyyy-MM-dd' }}</td>
              <td>{{ item.due_date | date:'yyyy-MM-dd' }}</td>
              <td>{{ item.return_date | date:'yyyy-MM-dd' }}</td>
              <td>{{ item.copy_signature }}</td>

              @switch (item.loan_status_id) {
                @case (1) {
                  <td><p class="bg-my-purple text-my-light p-1 rounded-md">{{ item.loan_status_name }}</p></td>
                }
                @case (2) {
                  <td><p class="bg-my-green text-my-light p-1 rounded-md">{{ item.loan_status_name }}</p></td>
                }
                @default {
                  <td><p class="bg-my-pink text-my-light p-1 rounded-md">{{ item.loan_status_name }}</p></td>
                }
              }
            </tr>
          }
        </tbody>    
      </table>
    }
  </div>

  <app-pagination-component
    [currentPage]="paginationAndLoanList()?.page ?? 1"
    [totalPages]="totalPages()"
    (prevPage)="onPrevPage.emit()"
    (nextPage)="onNextPage.emit()"
  />
</div>
