@if (isOpen()) {
  <div class="modal modal-open" role="dialog">
    <div class="modal-box bg-my-light">
      
      <h3 class="text-lg font-bold text-my-pink">
        {{ textTitle() }}
      </h3>

      <p class="py-4 text-my-purple grid justify-center">
        {{ textContent() }}
        <strong>{{ textName() }}</strong>
      </p>
      
      <div class="modal-action">
        @if (isLoading()) {
          <app-loading-component/>
        } @else {
          <button class="btn bg-my-pink hover:bg-my-pink/80 text-my-light"(click)="onConfirm.emit()">{{ textTitle() }}</button>
          <button class="btn" (click)="onModalClose.emit()">Cerrar</button> 
        }
      </div>

    </div>
  </div>
}
