<section class="bg-my-light p-6">
  <h2 class="text-3xl font-bold text-my-purple tracking-tight">{{ textTitle() ?? 'Sin textTitle' }}</h2>
  <p class="text-my-green mt-2">{{ textDescription() ?? 'Sin textTitle' }}</p>

  <label class="label mt-4 mb-1">
    <span class="label-text text-sm font-semibold">Buscar</span>
  </label>
  <label class="input w-full focus-within:border-my-green focus-within:outline-none">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </g>
    </svg>
    <input type="search" class="grow" 
      [placeholder]="searchPlaceholder() ?? 'Sin searchPlaceholder'"
      [value]="clearSearch()"
      (input)="searchChange($event)"
    />
  </label>

  <section class="flex gap-4 flex-wrap items-end mt-4">
    <div>
      <label class="label mb-1 grid">
        <span class="label-text text-sm font-semibold">Filtrar por autor</span>
      </label>
      <app-author-select-components 
        [clearTrigger]="clearAuthorTrigger()"
        (onNewSelectedAuthor)="authorSelected($event)"
      />
    </div>
  
    <div>
      <label class="label mb-1 grid">
        <span class="label-text text-sm font-semibold">Filtrar por editorial</span>
      </label>
      <app-editorial-select-components 
        [clearTrigger]="clearAuthorTrigger()"
        (newSelectedId)="editorialSelected($event)"
      />
    </div>
  
    <div>
      <label class="label mb-1 grid">
        <span class="label-text text-sm font-semibold">Filtrar por género</span>
      </label>
      <app-genre-select-components 
        [clearTrigger]="clearAuthorTrigger()"
        (newSelectedId)="genreSelected($event)"
      />
    </div>
  
    <div class="flex gap-2 ml-auto">
      <button 
        class="btn border-0 text-my-purple"
        (click)="onClear()">
        
        Limpiar
      </button>

      <button
        class="btn btn-outline bg-my-purple hover:bg-my-purple/90 text-my-light"
        (click)="btnClick()">

        {{ textBtn() ?? 'Sin textBtn' }}
      </button>
    </div>
  </section>  
</section>