<app-section-header-component
  [title]="'Perfil'"
/>

<section class="p-4 grid grid-cols-1 gap-4">
  @if(errorMessage()) {
    <app-message-error-component [message]="errorMessage()" />
  }

  <app-user-profile-components
    [authUser]="authUser()"
    [userDetailModel]="userDetailComputed()"
    (onEditProfile)="onNavigateToEdit()"
  />

  <div class="text-my-purple flex justify-end pt-4">
    <app-notification-bell-components [textUnreadCount]="unreadCount()" />
  </div>

  <app-notification-list-components 
    [isLoading]="isLoading()"
    [isUser]="true"
    [paginationAndNotificationList]="computedPaginationAndNotificationList()"
    (onReload)="onReloadNotification()"
    (onMarkAsRead)="onMarkAsRead($event)"
    (onMarkAllAsRead)="onMarkAllAsRead()"
    (onNextPage)="nextPage()"
    (onPrevPage)="prevPage()"
    (onFilterNotRead)="onFilterNotRead($event)"
  />
</section>
