<section class="flex flex-col justify-between h-full">
  <div>
    <app-section-header-component 
      [title]="'Libros'" 
      [searchPlaceholder]="'Buscar Libro'"
      (searchChange)="searchText($event)"
    />

    <div class="flex justify-between m-4">
      <app-button-refresh-component 
        (onClick)="refreshList()"
      />
    
      <app-button-create-component 
        [textBtn]="'Crear Libro'" 
        (onClick)="onCreate()"
      />
    </div>

  <div class="px-4">
    @if (successMessage()) {
      <app-message-success-component [message]="successMessage()"/>
    }
    
    @if (errorMessage()) {
      <app-message-error-component [message]="errorMessage()"/>
    }
  </div>

    <app-book-list-component 
      [isLoading]="isLoading()"
      [bookList]="bookComputedList()"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)"
    />
  </div>

  <app-pagination-component
    [totalPages]="totalPages()"
    [currentPage]="currentPage()"
    (prevPage)="prevPage()"
    (nextPage)="nextPage()" 
  />
</section>

<app-modal-action-component
  [isOpen]="openDeleteModal()"
  [isLoading]="isLoading()"
  [textTitle]="'Eliminar Libro'"
  [textContent]="'¿Estás seguro de que deceas eliminar el libro?'"
  [textName]="selectedBookToDelete()?.title"
  (onConfirm)="confirmDelete()"
  (onModalClose)="closeDeleteModal()"
/>
