<app-section-header-component
  [title]="copyId() === 0 ? 'Crear copia' : 'Modificar copia'"
  [actionText]="'Volver a Edición'"
  (actionClicked)="navigateBack()"
/>

<section class="bg-my-green/5 grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
  <div class="bg-my-light p-4 rounded-md shadow-xl flex flex-row gap-4">
    <figure class="relative aspect-7/10 max-w-50 w-50">
      <img
        class="w-full h-full object-cover shadow-md"
        [ngSrc]="computedEdition()?.cover_image ?? 'images/without_cover.webp'"
        alt="Carátula" 
        priority
        fill 
      />
    </figure>
    
    <div>
      <h2 class="text-my-pink card-title">Libro: {{ computedBook()?.title }}</h2>
      <p class="text-my-purple text-sm">Autor / Autores:</p>
      @for (item of computedBook()?.authors; track item.id_author) {
        <p class="text-my-purple pl-4 text-sm">- {{ item.name }}</p>
      }
      <p class="text-my-purple text-sm">Descriptores:</p>
      @for (item of computedBook()?.subjects; track item.id_subject) {
        <p class="text-my-purple pl-4 text-sm">- {{ item.name }}</p>
      }
  
      <div class="pt-4">
        <p class="text-my-green text-xs">ID Libro: {{ computedBook()?.id_book }}</p>
        <p class="text-my-green text-xs">ID Edición: {{ computedEdition()?.id_edition }}</p>
        <p class="text-my-green text-xs">ID Copia: {{ selectedCopy()?.id_copy ?? 0 }}</p>
        <p class="text-my-green text-xs">{{ selectedCopy()?.created_at | date:'yyyy-MM-dd HH:mm:ss' }} Fecha creación</p>
        <p class="text-my-green text-xs">{{ selectedCopy()?.updated_at | date:'yyyy-MM-dd HH:mm:ss' }} Fecha modificacion</p>
      </div>
    </div>
  </div>
  
  <app-copy-form-components
    [isLoading]="isLoading()"
    [copyModel]="selectedCopy()"
    (onFormSubmit)="formSubmit($event)"
  />
</section>

<section class="bg-my-light rounded-md m-4">
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Copia</th>
          <th>Firma</th>
          <th>Estado</th>
          <th>Creación / Modificación</th>
        </tr>
      </thead>
      <tbody>
        @for (item of computedCopyList(); track item.id_copy) {
          <tr (click)="selectCopy(item.id_copy)" class="hover:bg-my-dark/10 cursor-pointer">
            <td>{{ item.id_copy }}</td>
            <td>{{ item.copy_number }}</td>
            <td>{{ item.signature_topography }}</td>
            @if (item.status.id_status === 1) {
              <td>
                <span class="bg-my-purple text-my-light p-2">{{ item.status.name }}</span>
              </td>
            } @else {
              <td>
                <span class="bg-my-pink text-my-light p-2">{{ item.status.name }}</span>
              </td>
            }
            <td>
              <span>{{ item.created_at | date:'yyyy-MM-dd HH:mm:ss' }}</span>
              <br />
              <span>{{ item.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}</span>
            </td>
            <!--
            <th>
              <button class="btn btn-ghost btn-xs">details</button>
            </th>
            -->
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>

<section class="p-4 grid gap-4">
  @if(successMessage()){
    <app-message-success-component [message]="successMessage()" />
  }
  
  @if(errorMessage()) {
    <app-message-error-component [message]="errorMessage()" />
  }
</section>
