<section class="flex flex-col justify-between h-full">

  <div>
    <app-section-header-component 
      title="Usuarios"
      searchPlaceholder="Buscar Usuario"
      (searchChange)="searchText($event)"
    />

    @if (backendError()) {
      <section class="p-4">
        <app-message-error-component 
          [message]="backendError()"
        />
      </section>
    }

    <section class="p-4">
      <app-user-list-components 
        [editRole]="editRole()"
        [isLoading]="isLoading()"
        [userDetailModelList]="userDetailListComputed()"
      />
    </section>
  </div>

  <app-pagination-component
    [totalPages]="totalPages()"
    [currentPage]="currentPage()"
    (prevPage)="prevPage()"
    (nextPage)="nextPage()" 
  />

</section>
