<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <img [ngSrc]="'images/icon-hash.svg'" alt="email" height="30" width="26"/>
    <p>Copyright © {{currentYear}} - All right reserved</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://www.instagram.com/biblioteca_wallmapu_de_mesana" target="_blank">
      <img [ngSrc]="'images/icon-social-instagram.svg'" alt="email" height="30" width="30"/>
    </a>
    <a href="https://www.facebook.com/people/Biblioteca-wallmapu-de-mesana/100064333436238/" target="_blank">
      <img [ngSrc]="'images/icon-social-facebook.svg'" alt="email" height="30" width="30"/>
    </a>
    <a href="mailto:wallmapumesana@gmail.com">
      <img [ngSrc]="'images/icon-social-email.svg'" alt="email" height="30" width="30"/>
    </a>
  </nav>
</footer>

<footer class="footer sm:footer-horizontal gap-8 bg-my-dark text-my-light p-10">
  <nav>
    <h6 class="footer-title">Quienes hicieron posible este sitio</h6>
    <p>
      (frontend) - 
      <a href="https://www.francisco-dev.cl/" target="_blank" class="hover:text-my-yellow">Francisco francisco-dev.cl</a>
    </p>
    <p>
      (backend) -
      <a href="https://www.linkedin.com/in/andrea-jim%C3%A9nez-espinoza/" target="_blank" class="hover:text-my-yellow">Andrea linkedin</a>
    </p>
    <p>
      (logistica) - 
      <a href="https://www.linkedin.com/in/ines-margarita-bravo/" target="_blank" class="hover:text-my-yellow">Inses linkedin</a>
    </p>
  </nav>
  <nav>
    <h6 class="footer-title">Financiado por el FNDR 8% Gobierno Regional de Valparaíso, año 2025</h6>
    <div class="max-w-80 m-auto">
      <img [ngSrc]="'/images/logo_core.webp'">
    </div>
  </nav>
</footer>