<app-section-header-component
  [title]="headerText()" 
  [actionText]="'Volver a Libros'"
  (actionClicked)="navigateGoBack()"
/>

@if (errorMessage()) {
  <section class="p-4 pb-0">
    <app-message-error-component 
      [message]="errorMessage()"
    />
  </section>  
}

<app-book-form-component
  [actionText]="headerText()" 
  [isLoading]="isLoading()"
  [bookFormModel]="bookFormModel()"
  [subjectModelList]="subjectModelList()"
  [AuthorModelList]="authorModelList()"
  (onNewSelectedGenreId)="newSelectedGenreId($event)"
  (onNewSelectedAuthor)="newSelectedAuthor($event)"
  (onDeleteAuthor)="deleteAuthor($event)"
  (onNewSelectedSubject)="newSelectedSubject($event)"
  (onDeleteSubject)="deleteSubject($event)"
  (onFormChange)="formChange($event)"
  (onFormSubmit)="formSubmit($event)"
/>

@if (isEditMode()) {
  <div class="m-4 flex justify-end">
    <button (click)="onCreateEdition()" class="btn max-w-48 bg-my-pink text-my-light">
      Crear Ejemplar
    </button>
  </div>  
}

<app-edition-list-components 
  [isLoading]="isLoading()"
  [editionList]="editionModelList()"
/>

<pre>{{ bookFormModel() | json }}</pre>
<pre>{{ editionModelList() | json}}</pre>