<app-section-header-component
  [title]="headerText()" 
  [actionText]="'Volver a Libros'"
  (actionClicked)="navigateGoBack()"
/>

<app-book-form-component
  [actionText]="headerText()"
  [isLoading]="isLoading()"
  [bookFormVM]="bookFormVM()"
  (onDeleteAuthor)="deleteAuthor($event)"
  (onDeleteSubject)="deleteSubject($event)"
  (onFormSubmit)="formSubmit($event)"
/>

<section class="p-4 pb-0 grid gap-4">
  @if(successMessage()) {
    <app-message-success-component [message]="successMessage()"/>
  }

  @if (errorMessage()) {
    <app-message-error-component [message]="errorMessage()"/>
  } 
</section>  

@if (isEditMode()) {
  <div class="m-4 flex justify-end">
    <button (click)="onCreateEdition()" class="btn max-w-48 bg-my-pink text-my-light">
      Crear Edición
    </button>
  </div>  
}

<app-edition-list-components 
  [isLoading]="isLoading()"
  [editionDetailList]="bookDetailComputed()?.editions ?? []"
  (onEdit)="editEdition($event)"
  (onDelete)="deleteEdition($event)"
/>

<app-modal-delete-component
  title="Eliminar Copia"
  [isOpen]="openDeleteModal()"
  [isLoading]="isLoading()"
  [itemName]="bookFormVM().title + ' - ' + selectedEditionToDelete()?.edition"
  (confirm)="confirmDelete()"
  (cancel)="closeDeleteModal()"
/>
