@if (imagesPreviewVMList().length > 0) {
  <div class="grid gap-4 w-full max-w-4xl">
    @for (item of imagesPreviewVMList(); track item.preview) {
      <div class="relative w-full aspect-video overflow-hidden rounded-lg border group">
        
        <!-- Imagen -->
        <img
          [src]="item.preview"
          [alt]="item.alt || 'Imagen sin nombre'"
          class="object-cover w-full h-full"
        />

        <!-- Overlay semi-transparente con info -->
        <div class="absolute top-0 left-0 w-full h-full bg-black/30 opacity-0 group-hover:opacity-100 transition flex justify-between items-start p-2">
          <!-- ID o Nueva -->
          <span class="text-white font-bold text-sm">
            {{ item.id ? `ID: ${item.id}` : 'Nueva' }}
          </span>

          @if (item.id || isLoading()) {
            <p class="text-my-light">{{ item.alt }}</p>               
          } @else {
            <input
              class="input text-sm text-my-dark"
              type="text"
              placeholder="Imagen sin nombre"
              (input)="updateImageAlt(item, $any($event.target).value)"
            >
          }

          <!-- Botón eliminar -->
          @if (isLoading()) {
            <app-loading-component/>
          } @else {
            <button 
              type="button"
              class="bg-my-pink text-sm px-2 py-1 rounded hover:bg-my-pink/80 text-my-light"
              (click)="onDeleteImagesPreviewVM(item)"
            >
              Eliminar
            </button>
          }
        </div>

      </div>
    }
  </div>
}