<div class="w-full max-w-7xl p-4 mx-auto">
  <form class="fieldset bg-my-light rounded-box border p-6 grid grid-cols-1 md:grid-cols-2 gap-4"
    (submit)="formSubmit($event)">
  
    <div>
      <fieldset class="fieldset">
        <label class="label font-semibold mb-1">Título</label>
        <input
          #titleInput 
          type="text" class="input validator w-full" placeholder="Nombre del Libro" required 
          [value]="formData().title"
          (input)="updateTitle($any($event.target).value, titleInput)"
        />
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <fieldset class="fieldset flex flex-col">
        <label class="label font-semibold">Género</label>
        <div class="flex gap-2">
          <app-genre-select-components class="flex-1" [selectedId]="formData().genre_id" (newSelectedId)="updateGenre($event)" />
          <app-button-create-component (onClick)="navigateToGenre()"/>
        </div>
        <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
      </fieldset>

      <p class="pt-6 text-my-purple">
        - ID: {{ formData().id_book }}
      </p>
      <p class="text-my-purple">
        {{ formData().created_at | date:'yyyy-MM-dd HH:mm:ss' }} - Fecha de Creación
      </p>
      <p class="text-my-purple">
        {{ formData().updated_at| date:'yyyy-MM-dd HH:mm:ss' }} - Fecha de Modificación:
      </p>
    </div>

    <fieldset class="fieldset flex flex-col">
      <label class="label font-semibold">Descripción / Resumen / Reseña</label>
      <textarea 
        #summaryInput
        class="textarea validator mt-2 w-full min-h-72" placeholder="Descripción/Resumen del libro" required
        [value]="formData().summary"
        (input)="updateSummary($any($event.target).value, summaryInput)"
      ></textarea>
      <p class="validator-hint hidden mt-1 text-sm text-red-500">Requerido</p>
    </fieldset>

    <div>
      <div class="divider text-base-content/40">Autores</div>
      <label class="label font-semibold">Seleccionar Autor/es</label>
      <div class="my-2 flex gap-2">
        <app-author-select-components class="flex-1" (onNewSelectedAuthor)="addAuthor($event)" />
        <app-button-create-component (onClick)="navigateToAuthor()"/>
      </div>
      <app-author-selected-list-components [authorList]="formData().authors" (onDelete)="deleteAuthor($event)" />
    </div>

    <div>
      <div class="divider text-base-content/40">Descriptores</div>
      <label class="label font-semibold">Descriptor/es</label>
      <div class="my-2 flex gap-2">
        <app-subject-select-components class="flex-1" (onNewSelectedSubject)="addSubject($event)" />
        <app-button-create-component (onClick)="navigateToSubject()"/>
      </div>
      <app-subject-selected-list-components [subjectList]="formData().subjects" (onDelete)="deleteSubject($event)" />
    </div>

    @if (isLoading()) {
      <app-loading-component/>
    } @else {
    <button class="btn btn-lg bg-my-purple text-my-light mt-4 self-start px-6 py-2 rounded-lg font-semibold" type="submit">
      {{ actionText() }}
    </button>  
    }
  </form>

  @if (errorMessage()) {
    <div class="my-4">
      <app-message-error-component [message]="errorMessage()"/>
    </div>
  }
</div>
