<section class="min-h-full bg-linear-to-b from-my-green/80 via-my-light/70 to-my-light/60">
  <div class="hero p-4 pt-20">
    <div class="hero-content px-6 pt-12 flex-col lg:flex-row items-start gap-10 w-full bg-my-light rounded-lg">
      
      @if (isLoadingBook()){
        <app-loading-component/>
      } @else {

        <figure class="relative aspect-7/10 w-full max-w-96 mx-auto">
          <img
            class="w-full h-full object-cover shadow-2xl"
            [ngSrc]="selectedEdition()?.cover_image??  'images/without_cover.webp'"
            [alt]="'Portada'"
            fill
            priority
          />
        </figure>
  
        <div class="flex-1">
          <h1 class="text-5xl font-bold text-my-purple mb-2">{{ computedBook()?.title }}</h1>
  
          @for (item of computedBook()?.authors; track item.name) {
            <p class="text-xl text-my-pink mb-4">{{ item.name }}</p>
          }
  
          <p><strong class="text-my-green">Género: </strong> {{ computedBook()?.genre?.name }}</p>
  
          <!--
          <div class="mb-6">
            <div class="flex items-center gap-2">
              <span class="text-2xl">⭐ {{ 5 }}</span>
              <span class="text-sm text-my-dark/60">(basado en reseñas)</span>
            </div>
          </div>
          -->
  
          <p class="text-lg leading-relaxed my-6 text-my-dark/70">
            {{ computedBook()?.summary }}
          </p>
  
          <section class="flex justify-between gap-4 flex-wrap">
            <div class="mb-6 space-y-2 text-sm">
              <p><strong class="text-my-green">ISBN:</strong> {{ selectedEdition()?.isbn }}</p>
              <p><strong class="text-my-green">Publicado:</strong> {{ selectedEdition()?.publication_year }}</p>
              <p><strong class="text-my-green">Paginas:</strong> {{ selectedEdition()?.pages }}</p>              
              <p><strong class="text-my-green">Edicion:</strong> {{ selectedEdition()?.edition }}</p>
              <p><strong class="text-my-green">Editorial:</strong> {{ selectedCopy()?.editorial_name }}</p>
              <p><strong class="text-my-green">Copia n°:</strong> {{ selectedCopy()?.copy_number }}</p>
              <p>
                <strong class="text-my-green">Estado:</strong> 
                @if (selectedCopy()?.is_availability) {
                  <span class="bg-my-green text-my-light mx-2 p-1 pr-2 rounded-md">
                    {{ selectedCopy()?.availability_status }}
                  </span>
                } @else {
                  <span class="bg-my-pink text-my-light mx-2 p-1 pr-2 rounded-md">
                    No Disponible
                  </span>
                }
              </p>
            </div>
    
            @if (isAuthenticated()) {
              @if (selectedCopy()?.is_availability) {
                <div class="flex gap-4">
                  <section class="text-right">
                    <button (click)="openModal()" class="btn btn-outline bg-my-pink text-my-light p-6">Reservar Libro</button>
                  </section>
                </div>
              }
            } @else {
              <div>
                <p class="bg-my-yellow text-my-purple font-bold p-4">Para reservar un libro, debes iniciar sesión.</p>
              </div>
            }
          </section>
        </div>
      }
    </div>
  </div>

  <section class="max-w-7xl mx-auto px-4">
    @if (successMessage()) {
      <app-message-success-component
        [message]="successMessage()"
      />
    }

    @if (errorMessage()) {
      <app-message-error-component
        [message]="errorMessage()"
      />       
    }
  </section>
  
  <div class="divider px-4 text-base-content/40 max-w-7xl mx-auto">Lista de Copias</div>

  <app-copy-list-for-reservation-components 
    [isLoading]="isLoading()"
    [copyDetailList]="computedCopyList()"
    (onSelectedCopy)="onSelectedCopy($event)"
  />
</section>

<app-modal-action-component
  [isLoading]="isLoading()" 
  [textTitle]="'Crear Reserva'"
  [textContent]="'Realizar Reserva de:'"
  [textName]="computedBook()?.title + ' - ' + selectedCopy()?.edition_name  + ' - Copia n° ' + selectedCopy()?.copy_number"
  [isOpen]="isModalOpen()"
  (onConfirm)="createReservation()"
  (onModalClose)="closeModal()"
/>
