<section class="bg-my-light rounded-md m-4">
  @if (isLoading()) {
    <div class="w-full flex justify-center px-4 py-8">
      <app-loading-component/>
    </div>
  } @else {

    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>ID</th>
            <th>Copia</th>
            <th>Firma</th>
            <th>Estado</th>
            <th>Creación / Modificación</th>
          </tr>
        </thead>
        <tbody>
          @for (item of copyList(); track item.id_copy) {
            <tr (click)="onSelectCopy.emit(item.id_copy)" class="hover:bg-my-dark/10 cursor-pointer">
              <td>{{ item.id_copy }}</td>
              <td>{{ item.copy_number }}</td>
              <td>{{ item.barcode }}</td>
              @if (item.status_id === 1) {
                <td>
                  <span class="bg-my-purple text-my-light p-2">{{ item.status_name }}</span>
                </td>
              } @else {
                <td>
                  <span class="bg-my-pink text-my-light p-2">{{ item.status_name }}</span>
                </td>
              }
              <td>
                <span>{{ item.created_at | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                <br />
                <span>{{ item.updated_at | date:'yyyy-MM-dd HH:mm:ss' }}</span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  }
</section>
