<section class="mb-12">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    
    @for (img of newsGalleryList(); track $index) {
      <div 
        class="relative group cursor-pointer overflow-hidden rounded-xl shadow-lg"
        (click)="isImageModalOpen.set(true); selectedImage.set(img.url)">
        
        <figure class="aspect-4/3">
          <img 
            [ngSrc]="img.url" 
            [alt]="img.alt"
            fill
            priority
            class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
          />
        </figure>
        <div class="absolute inset-0 bg-linear-to-t from-black/70 via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
          <div class="absolute bottom-4 left-4 text-white">
            <p class="font-semibold">{{ img.alt }}</p>
          </div>
        </div>
      </div>
    }

  </div>
</section>

<app-modal-image-component
  [isOpen]="isImageModalOpen()"
  [imageUrl]="selectedImage()"
  (close)="isImageModalOpen.set(false)"
/>
