@if (isLoading() || regionComputedList().length === 0) {
  <app-loading-component/>
} @else {
  <select 
    [disabled]="disabled()"
    [value]="selectedId()"
    (change)="onChange($event)"
    class="select text-my-pink"
  >      
    <option disabled>Seleccióne una Región</option>
    @for (item of regionComputedList(); track $index) {
      <option 
        [value]="item.id_region"
        [selected]="item.id_region === selectedId()">
        
        {{ item.region }}
      </option>
    }
  </select>
}
